<p class= notice ><%= flash[:notice] %></p>
<p>
    <storng>Title:</storng>
    <%= @book.title %>
</p>
<p>
    <storng>Body:</storng> 
    <%= @book.body %>

</p>


    <%= link_to 'Edit', edit_book_path(@book) %> |
    <%= link_to 'Back', books_path %>


